mat-card {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 0;

	mat-card-header {
		margin-top: 20px;
	}

	mat-card-content {
		min-width: 100%;
	}

	button {
		a {
			width: 100%;
			height: 100%;
			display: flex;
			text-decoration: none;
			color: #fff;
			padding: 0 16px 0 16px;
		}
		padding: 0;
	}

	.see_more {
		background: #cd242fe6;
		color: #fff;

	}

	.image_box {
		margin-top: 0;
		margin-bottom: auto;
	}

	.image {
		object-fit: contain;
		object-position: center;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

}

:host(.news-list) {
	padding: 20px 0 0 20px;
}

@media screen and (max-width: 500px) {
	:host(.news-list) {
		padding: 5px 0 0 0;
		mat-card {
			border-radius: 0;

			mat-card-title {
				font-size: 17px;
			}

			mat-card-subtitle {
				font-size: 14px;
			}

		}
	}
}
