@import "theme";

* {
	box-sizing: border-box;
	outline: none;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #ccc;
}

::-webkit-scrollbar-thumb {
	background: #777;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}
